@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 285 10% 20%;
    --border: 285 10% 90%;
    --input: 285 10% 90%;
    --ring: 290 70% 70%;
    --primary: 290 70% 70%;
    --primary-foreground: 0 0% 100%;
    --secondary: 285 10% 95%;
    --secondary-foreground: 285 10% 20%;
    --muted: 285 10% 95%;
    --muted-foreground: 285 10% 45%;
    --accent: 285 10% 95%;
    --accent-foreground: 285 10% 20%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 285 10% 20%;
    --card: 0 0% 100%;
    --card-foreground: 285 10% 20%;
    --radius: 0.5rem;
  }

  * {
    border-color: hsl(var(--border));
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
